.bglayer{
	position: absolute;
	width: 100%;
	height: 100%;    
	/* border: 1px solid red; */
}

#container{
	position: relative;
	width: 98%;
	height: 98%;
	margin: 0.5% auto;
	background-color: #ffffff;
	/* border: 1px solid gray;  */
	font-family: Calibri;
	color: #2E86C1;
}

h1{
	position: absolute;
	top: 5%;
	left: 37%;
	/* border: 1px solid red; */
	text-align: center;
	width: 20%;
	height: 7%;
	background-color: #4FC3F7;
	color: white;
   
}

#box{
	position: absolute;
	top: 22%;
	left: 18%;
	width: 60%;
	height: 68%;
	background-color: #ffffff;
	border: 1px solid gray;
	overflow-y: auto;
}

input[type=text], select {
	position: absolute;
	top: 5%;
	left: 4%;
	width: 91%;
	height: 10%;
	font-family: Calibri;
	padding: 2px;
}



.button{
	position: absolute;
	top: 20%;
	width: 20%;
	height: 10%;
	font-family: Calibri;
	background-color: #4FC3F7;
	cursor: pointer;
	/* border: 0.5px solid gray; */
	text-align: center;
}

h5{
	margin: 0%;
	color: white;
	font-size: 18px;
	position: absolute;
	top: 27%;
	left: 7.5%;
	width: 86%;
}

h5:hover{
	background-color: #4FC3F7;
}

.button:hover{
	opacity: 0.5;
}

#submit{
	left: 53.5%;
}

#view{
	left: 53.5%;
}

#clear{
	left: 75.5%;
}

.taskList{
	/* position: absolute; */
	left: 4%;
	width: 81%;
	height: 10%;
	border: 1px solid #9E9E9E;
	font-family: Calibri;
	color: #9E9E9E;
	padding: 2px;
	margin: 0.5% 0.5% 0.5% 1%;
	display: inline-block;
	/* top: 33%; */
	overflow-y: auto;
}

.tickbutton,.crossbutton{
	width: 41px;
	height: 41px;
	background-image: url('tick8.png');
	/* left:75%;         */
	cursor: pointer;
	display: inline-block;
	/* align: right; */
	margin: 0px;
}

.crossbutton{
	background-image: url('wrong6.png');
}

.tasklist p{
	font-family: Calibri;
	margin: 2px;
	font-size: 12px;
	width: 50%;
	border: 1px solid red;
}

.tick_hotspot,.cross_hotspot{
	width: 41px;
	height: 41px;
	radius: 50%;
	opactiy: 0.5;       
   
}

h4,#date{
	position: absolute;
	top: 17%;
	left: 62%;
	width: 5%;
	/* border: 1px solid black; */
	font-family: Calibri;
	font-size: 18px;
	font-weight:normal;
	color: gray;
	margin: 0;
	padding: 0;
}

#date{
	width: 9%;
	left: 68%;
}

#taskbox{
	position: absolute;
	width: 98%;
	height: 67%;
	/* border: 1px solid red; */
	top: 32%;
	left: 1%;
	overflow-y: auto;
}